body {
    font-size: 16px;
}

button, a{ 
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    padding: 0.5em 1em;
}

:root {
    --background-color: #fff;
    --text-color: #121416d8;
}

/******* Light Color Theme *******/
/* Colors: 0xFEFAE0 
           0xFAEDCE
           0xE0E5B6
           0xCCD5AE
  from colorhunt.co
*/
html[data-theme="light"] {
    --background-color: #FEFAE0;
    --text-color: #000000;
}

html[data-theme="light"] button, html[data-theme="light"] a {
    color: #000000;
    background: #E0E5B6;
}

html[data-theme="light"] button:hover, html[data-theme="light"] a:hover, html[data-theme="light"] button.active:hover{
    background:#CCD5AE;
}

html[data-theme="light"] button:active, html[data-theme="light"] button.active{
    color:#1a2415;
    border-bottom: 3.5px #1a2415;
    border-style:groove;
}

/* Colors: TODO FILL IN
*/
html[data-theme="dark"] {
    --background-color: #171010;
    --text-color: #E5E9F0;
}

/* Special dark mode settings to ensure the settings image colors are inverted*/
html[data-theme="dark"] .buttonIcon {
    filter:invert(100%);
}

html[data-theme="dark"] button:hover, html[data-theme="dark"] a:hover, html[data-theme="dark"] button.active:hover{
    background:#494d5a;
}

html[data-theme="dark"] button, html[data-theme="dark"] a {
    color: #E5E9F0;
    background: #2B2B2B;
}

html[data-theme="dark"] button:active, html[data-theme="dark"] button.active{
    color:#E5E9F0;
    background:#494d5a;
    border-bottom: 3.5px #E5E9F0;
    border-style:groove;
}

 
body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
    transition: background 0.5s;
}
#container {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
    width: 90%;
}




