body {
    font-size: 16px;
}

button, a{ 
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    padding: 0.5em 1em;
}

:root {
    --background-color: #fff;
    --text-color: #121416d8;
}

/******* Light Color Theme *******/
html[data-theme="light"] {
    --background-color: #faeddc;
    --text-color: #1a2415;
}

html[data-theme="light"] button, html[data-theme="light"] a {
    color: #1a2415;
    background: #faeddc;
}

html[data-theme="light"] button:hover, html[data-theme="light"]  a:hover, html[data-theme="light"]  button.active:hover{
    color:#faeddc;
    background:#96c085;
}

html[data-theme="light"] a:hover img, html[data-theme="light"] button:hover img {
    filter: invert(40%);
}

html[data-theme="light"]img :not(#map-container) {
    filter: invert(40%);
}

html[data-theme="light"] button:active, html[data-theme="light"] button.active{
    color:#1a2415;
    border-bottom: 3.5px #1a2415;
    border-style:groove;
}

/******* Dark Color Theme *******/
html[data-theme="dark"] {
    --background-color: #1d1f26;
    --text-color: #e5e9f0;
}

/* Special dark mode settings to ensure the settings image colors are inverted*/
html[data-theme="dark"] .buttonIcon {
    filter:invert(100%);
}

html[data-theme="dark"] #button-img-settings:hover {
    filter:invert(40%);
    border-style: 5px 5px 10px solid #e5e9f0;
}

html[data-theme="dark"] button:hover, html[data-theme="dark"] a:hover, html[data-theme="dark"] button.active:hover{
    background:#e5e9f0;
    color:#3c404d;
    border-style: 5px 5px 10px solid #e5e9f0;
}

html[data-theme="dark"] button, html[data-theme="dark"] a {
    color: #e5e9f0;
    background: #494d5a;
}

html[data-theme="dark"] a:hover img, html[data-theme="dark"] button:hover img {
    filter: invert(40%) hue-rotate(180deg);
}

html[data-theme="dark"] img :not(#map-container), .titleImg{
    filter: invert(40%) hue-rotate(180deg);
}

html[data-theme="dark"]a img {
    filter:invert(100%);
}

html[data-theme="dark"] button:active, html[data-theme="dark"] button.active{
    color:#e5e9f0;
    background:#494d5a;
    border-bottom: 3.5px #e5e9f0;
    border-style:groove;
}

html[data-theme="dark"] #titleImg {
    filter: invert(100%) hue-rotate(180deg);
}

 
body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    margin: 0;
    transition: background 0.5s;
}
#container {
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 900px;
    padding: 1em;
    width: 90%;
}




