html[data-theme="dark"] .regularButton {
    box-shadow: .2px .5px 1.5px .2px rgba(255, 255, 255, 0.603);
 }

html[data-theme="light"] .regularButton {
    box-shadow: .5px 1px 2px .5px rgba(35, 35, 35, 0.323);
}

.regularButton{
  font-size: inherit;
  padding:.5em 1em;
  margin: 0.25em .25em;
}

input[type="text"],
input[type="date"],
input[list="fields"] {
    width: fit-content;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: inherit;
    margin: 0.5em 0.5em;
}

