html[data-theme="dark"] .regularButton {
    box-shadow: .2px .5px 1.5px .2px rgba(255, 255, 255, 0.603);
 }

html[data-theme="light"] .regularButton {
    box-shadow: .5px 1px 2px .5px rgba(35, 35, 35, 0.323);
}

.regularButton{
  padding:.5em 1em;
  margin: 0.25em .25em;
}

#fontSizeSelector {
  background-color: 0xFFFFFF; 
  color: 0x000000;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  padding: 0.5em 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* shadow */
  cursor: pointer; 
  outline: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* smooth hover effect */
}

#fontSizeSelector:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* bigger shadow on hover */
}

#settingsPage {
  width: fit-content;
  margin: 0 auto;
  padding: 1em;
}

hr {
  width: 70%;
  border: 1px solid rgb(224, 224, 224);
}


