.button {
    display:inline-block;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: larger;
    font-weight: bold;
    border-radius: 5px;
    padding: 0.5em 1em;
    outline: none;
}

.buttonIcon {
    display: block;
    margin: auto;
}

.buttonText {
    text-align: center;
    margin: 0;
}
