.pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 90vw;
    max-width: 92vw;
    padding: 20px; 
    max-height: 1px;
}

.mapContainer {
    position: relative;
}


.button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 30%;
}

.title {
    text-align: center;
}


html[data-theme="dark"] #titleImg :not(#map-container) {
    filter: invert(100%) hue-rotate(180deg);
}
