.pageContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.mapContainer {
    border: 1px solid black;
    width: 70%;
    float: left;
    height: 80vh;
    margin: 0% 3%;
    text-align: center;
}

.button-container {
    width: 50%;
    float: right;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin: 0% 3%;

}

.title {
    text-align: center;
}

.routePlanningButton {
    margin: 5% 0 10% 0;
    height: 10vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10%;
    cursor: pointer;
    width: 30vw;
}

html[data-theme="dark"] .routePlanningButton, html[data-theme="black"] .routePlanningButton  {
    box-shadow: .5px 2px 4px .5px rgba(255, 255, 255, 0.603);
 }

#backButton {
   width: 0;
   padding: 0;
}