.pageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    width: 90vw;
    max-width: 92vw;
    padding: 20px; 
    max-height: 1px;
}

.mapContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20%;
    width: 30%;
    height: 30%;
}

#backButton {
    position: fixed;
    margin-top: 2rem;
    bottom: 5%;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 30%;
}

.title {
    text-align: center;
}


html[data-theme="dark"] #titleImg :not(#map-container) {
    filter: invert(100%) hue-rotate(180deg);
}

html[data-theme="dark"] .regularButton {
    box-shadow: .2px .5px 1.5px .2px rgba(255, 255, 255, 0.603);
 }

html[data-theme="light"] .regularButton {
    box-shadow: .5px 1px 2px .5px rgba(35, 35, 35, 0.323);
}

.regularButton{
  padding:.5em 1em;
  margin: 0.25em .25em;
}